### Este es el dataset de kaggle para practicar manejo de datos

In [1]:
import pandas as pd
import numpy as np

# Chapter 1

En este capítulo, Limpiare mi base de datos para obtener una data limpia y procesada.

In [2]:
df=pd.read_csv("E:/piere/Documentos/Portafolio/JMIA/Data/RAW/JMIA.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       653 non-null    object
 1   Open       653 non-null    float64
 2   High       653 non-null    float64
 3   Low        653 non-null    float64
 4   Close      653 non-null    float64
 5   Adj Close  653 non-null    float64
 6   Volume     653 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 35.8+ KB

In [4]:
df["Date"]=pd.to_datetime(df["Date"])

In [5]:
df.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [6]:
df.head(3)

        Date       Open       High        Low      Close  Adj Close    Volume
0 2019-04-12  18.950001  25.459999  18.260000  25.459999  25.459999   9472300
1 2019-04-15  26.940001  39.950001  25.629999  31.910000  31.910000  12857300
2 2019-04-16  35.330002  43.500000  33.099998  43.040001  43.040001  12939400

In [7]:
df.describe().round(0)

        Open   High    Low  Close  Adj Close      Volume
count  653.0  653.0  653.0  653.0      653.0       653.0
mean    19.0   20.0   18.0   19.0       19.0   5496232.0
std     14.0   15.0   13.0   14.0       14.0   6622336.0
min      2.0    3.0    2.0    2.0        2.0    194100.0
25%      7.0    7.0    6.0    7.0        7.0   1466200.0
50%     18.0   18.0   17.0   18.0       18.0   3290900.0
75%     27.0   28.0   26.0   27.0       27.0   6594900.0
max     67.0   70.0   64.0   66.0       66.0  57440100.0

In [8]:
A=np.array([df["Close"]==df["Adj Close"]])

In [9]:
np.unique(A)

array([ True])

Como observamos en el split anterior, vemos que la columna de Close y Adj Close son las mismas, solamente que con una escritura diferente. A razón de esto, procederemos a eliminar la columna de Close

In [10]:
df=df.drop("Close",axis=1)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       653 non-null    datetime64[ns]
 1   Open       653 non-null    float64
 2   High       653 non-null    float64
 3   Low        653 non-null    float64
 4   Adj Close  653 non-null    float64
 5   Volume     653 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 30.7 KB

In [14]:
df.to_csv("E:/piere/Documentos/Portafolio/JMIA/Data/Proccesed/JMIA_Limpia.csv",index=False)