### Casas en Toluca con mi novia hermosa

primero vamos a importar las librerias necesarias para extraer de internet

In [3]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import selenium.common.exceptions
%matplotlib inline

#### Ejecutamos el programa que nos permitira extraer datos de internet

In [6]:
driver=webdriver.Chrome("E:\piere\Desktop\A2 Cursos\Python\chromedriver.exe")

 armamos las listas para saber que datos queremos extraer

In [7]:
preciosucio=[]
lugarsucio=[]
m2sucio=[]
habitacionessucio=[]
bañossucio=[]

ahora creamos las listas vacias para trabajar

In [10]:
precio=[]
lugar=[]
m2=[]
habitaciones=[]
baños=[]

In [18]:
page=2
url=[]
while page!=69:
    url=f'https://www.icasas.mx/venta/habitacionales-casas-mexico-toluca-lerdo-2_5_15_0_760_0/p_{page}'
    driver.get(url)
    contenido=driver.page_source
    soup=bs(contenido)
    soup.title
    for tarjeta in soup.find_all("div",attrs={"class":"ad-data"}):
        
        try:
            area=tarjeta.find("span",attrs={"class":"areaBuilt"})
            m2sucio.append(area.text)
        except:
            m2sucio.append("")
        try:    
            MN=tarjeta.find("div",attrs={"class":"price"})
            preciosucio.append(MN.text)
        except:    
            preciosucio.append("")
        try:    
            calle=tarjeta.find("a",attrs={"itemprop":"url"})
            lugarsucio.append(calle.text)
        except:    
            lugarsucio.append("")
        try:    
            hb=tarjeta.find("span",attrs={"class":"rooms"})
            habitacionessucio.append(hb.text)
        except:
            habitacionessucio.append("")
        try:    
            bñ=tarjeta.find("span",attrs={"class":"bathrooms"})
            bañossucio.append(bñ.text)
        except:
            bañossucio.append("")   
    page+=1

In [20]:
for MN in preciosucio:
    precio.append(MN.replace("\t",""))

In [21]:
casadf=pd.DataFrame({"Ubicación":lugarsucio,"Area":m2sucio,"Baños":bañossucio,"Habitaciones":habitacionessucio,"Precio":precio})

In [22]:
casadf.shape

(2004, 5)

In [24]:
casadf.head(5)

,Ubicación,Area,Baños,Habitaciones,Precio
0,"Casa en Venta Los Serrados\n, Toluca De Lerdo,...",105m2,2,3,"2,600,000 MX$"
1,"Casa en Venta Tierra Y Libertad #114\n, Toluca...",115m2,2,3,"1,016,000 MX$"
2,"Casa en Venta Toluca De Lerdo, México",700m2,3,3,"6,500,000 MX$"
3,"Casa en Venta Granjas, Toluca De Lerdo",390m2,3,4,"5,500,000 MX$"
4,"Casa en Venta Toluca De Lerdo, México",300m2,4,3,"4,300,000 MX$"

In [26]:
casadf.to_csv("Casa_toluca.csv")

In [34]:
casadf["Precio"]=casadf["Precio"].str.replace("MX","").str.replace("$","").str.replace(",","")

C:\Users\piere\AppData\Local\Temp/ipykernel_14720/2268213299.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  casadf["Precio"]=casadf["Precio"].str.replace("MX","").str.replace("$","").str.replace(",","")

In [45]:
casadf["Area"]=casadf["Area"].str.replace("m2","").str.replace(",","")

In [46]:
casadf["Area"]=casadf["Area"].astype(float)

ValueError: could not convert string to float: ''

In [2]:
casadf.to_csv("Casa_toluca.csv")

NameError: name 'casadf' is not defined

In [70]:
casadf["Area"]=casadf["Area"].str.replace("","0")

0       000100000005000
1       000100010005000
2       000700000000000
3       000300090000000
4       000300000000000
             ...
1999    000100090000000
2000        00090002000
2001        00060006000
2002        00040002000
2003                000
Name: Area, Length: 2004, dtype: object

In [5]:
casadf=pd.read_csv("Casa_toluca.csv")

In [22]:
casadf["Precio"]=casadf["Precio"].str.replace("Remate Bancario","").str.replace(r"\([()]*\)","")

C:\Users\piere\AppData\Local\Temp/ipykernel_12916/1971946639.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  casadf["Precio"]=casadf["Precio"].str.replace("Remate Bancario","").str.replace(r"\([()]*\)","")

In [24]:
casadf.to_csv("Casa_toluca.csv")